<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 记载db.properties配置文件 -->
	<bean id="config" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>classpath:db.properties</value>
			</array>
		</property>
	</bean>

	<!-- 数据源、mapper.xml -->
	<!-- 配置数据信息（替代mybatis的配置文件conf.xml） -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${dirver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
		<property name="maxActive" value="${maxActive}"></property>
		<property name="maxIdle" value="${maxIdle}"></property>
	</bean>
	
	<!-- 在SpringIoc容器中创建MyBatis的核心类SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 加载mybatis配置文件  conf.xml  -->
		<property name="configLocation" value="classpath:conf.xml"></property>
		<!-- 加载mapper.xml配置文件 -->
		<property name="mapperLocations" value="classpath:hecai/mapper/*.xml"></property>
	</bean>
	<!-- Spring整合MyBatis：将MyBatis的SqlSessionFactory交给Spring -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		<!-- 指定批量产生哪个包中的mapper对象 -->
		<property name="basePackage" value="hecai.mapper"></property>
	</bean>
	
	
	
	
	<bean id="studentService" class="hecai.service.impl.StudentServiceImpl">
		<property name="studentMapper" ref="studentMapper"></property>
	</bean>
	
	<bean id="userService" class="hecai.service.impl.UserServiceImpl">
		<property name="userMapper" ref="userMapper"></property>
	</bean>
	
	<bean id="taskService" class="hecai.service.impl.TaskServiceImpl">
		<property name="taskMapper" ref="taskMapper"></property>
	</bean>
	
<!-- 	<bean class="hecai.controller.StudentController"> -->
<!-- 		<property name="studentService" ref="studentService"></property> -->
<!-- 	</bean> -->
	
	<!-- 依赖注入： 给service注入dao -->
<!-- 	<bean id="studentSerivce" class="org.shangmao.service.impl.StudentServiceImpl"> -->
<!-- 		<property name="studentMapper" ref="studentMapper"></property> -->
<!-- 	</bean> -->
	
	<!-- 给controller注入service -->
<!-- 	<bean class="org.shangmao.controller.StudentController"> -->
<!-- 		<property name="studentService" ref="studentSerivce"></property> -->
<!-- 	</bean> -->
	

</beans>
